.heading{
    font-size: 25px;
    width: 100%;
    background-color: thistle;

}
.note{
    font-size: 12px;
    color: black;
}
body{
    background-size: cover;
}

.songname{
    width: 115px;
    font-size: 24px;
}
canvas{
    border: 6px solid lightblue;
    border-radius: 20px;
    box-shadow: 5px 5px 5px  white;
}
.div_volume_img{
    width: 180px;
    border-radius: 100px;
}
.footer{
    bottom: 0;
    width: 100%;
    text-align: center;
    position: fixed;
    color: white;
    background-color: thistle;
    line-height: 3;
    text-shadow: 2px 2px 2px grey;
    font-size: 22px;}